.linha {
    background-color: var(--cor-branco);
}

.rodape {
    background-color: var(--cor-branco);
    padding: 1.5em 1em;
    font-weight: 400;
    font-family: var(--fonte-poppins);
}

.rodape__lista {
    display: none;
}

@media screen and (min-width: 1024px) {
    
    .rodape {
        display: flex;
        flex-direction: row;
        gap: 4em;
    }

    .rodape__lista {
        display: block;
        padding-left: 1em;
    }

    .rodape__titulo {
        width: 20%;
        font-size: 24px;
        font-weight: 400;
        color: var(--cor-preto);
    }

    .rodape__lista-lista {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .5em;
        margin: .5em 0;
    }

    .rodape__lista__titulo {
        color: var(--cor-cinza);
        margin-bottom: .5em;
        text-transform: uppercase;
    }

    .rodape__lista__link {
        font-size: 14px;
        font-weight: 400;
        color: var(--cor-cinza-escuro);
        text-decoration: none;
    }

    

}

@media screen and (min-width: 1728px) {

    .rodape {
        justify-content: space-evenly;
        padding: 3em;
    }

    .rodape__titulo {
        text-align: right;
    }

    .rodape__lista__titulo {
        padding-bottom: 1em;
    }

    .rodape__lista {
        border-left: solid 1px var(--cor-cinza);
        padding-left: 2em;
    }
    
}