.topicos {
    background: var(--cor-azul-degrade);
    color: var(--cor-branco);
    font-family: var(--fonte-poppins);
    padding-bottom: 1em;
}

.topicos__titulo {
    font-weight: 300;
    text-align: center;
    padding: 1.5em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__link {
    font-size: 14px;
    font-weight: 700;
    display: block;
    text-decoration: none;
    color: var(--cor-branco);
    background-color: var(--cor-amarelo);
    padding: 1.5em;
    margin: .5em;
}

@media screen and (min-width: 1024px) {

    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__lista {
        width: 80%;
        margin: 0 auto;
    }

    .topicos__link {
        font-size: 18px;
    }
    
}

@media screen and (min-width: 1728px) {

    .topicos {
        padding: 5em;
    }

    .topicos__lista {
        width: 60%;
    }

    .topicos__titulo {
        font-size: 32px;
    }

    .topicos__link {
        font-size: 24px;
    }

}